.main-container {
  width: 712px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #dadada;
  margin-top: 20px;
  padding: 14px 20px;
}

.msg-div {
  width: 100%;
  height: 27px;
  display: flex;
  align-items: center;
}

p {
  margin-top: 10px;
  width: 100%;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  animation: none;

  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  border-radius: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: forestgreen;
}

.content {
  margin-top: 27px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media(max-width: 500px){
  .main-container {
    width: 356px;
    padding: 14px;
  }

  .msg-div {
    height: 100%;
  }

  .content {
    justify-content: center;
  }
}

@media(max-width: 380px){
  .main-container {
    width: 330px;
  }
}