<div class="settings-container">
    <div class="input-div top-input">
        <input
            #numberInput
            type="number"
            placeholder="n° de times"
            class="input"
            [value]="number"
            (input)="setNumber(numberInput.value)"
        />
        <div class="slider left">
            <div class="slider-ball"></div>
        </div>
    </div>
    <div class="input-div">
        <input
            #nameInput
            type="text"
            placeholder="nome do jogador"
            class="input"
            [value]="name"
            (input)="setName(nameInput.value)"
        />
        <button
            class="name-button"
            (click)="addNameToList()"
        >
            Adicionar
        </button>
    </div>
    <app-names-list [people]="people" [removePerson]="removePerson"/>
</div>