button {
  width: 330px;
  height: 38px;
  border-radius: 10px;
  background: #0b0338;
  border: none;
  color: #dadada;
  font-size: 16px;
  font-family: "Inter";
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
}

div {
  width: 330px;
  height: auto;
  margin-top: 15px;
  max-height: 720px;
  overflow-x: hidden;
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  div {
    min-width: 330px;
    width: 100%;
  }

  button {
    margin-top: 10px;
    width: 100%;
    height: 42px;
  }
}

@media (max-width: 380px) {
  div {
    min-width: 300px;
  }
}
